*.iml
.DS_Store
.checkstyle
.classpath
.fbExcludeFilterFile
.idea
.metadata
.pmd
.pmdruleset.xml
.project
.settings/
artifacts.jar
bin
derby.log
logs.zip
pom.xml.releaseBackup
release.properties
target/
thumbs.db
